{% extends "base_templates/login_base.html" %} {# base_templates extends base_templates/login_base.html #} {% block main %}
<style type="text/css">
#logo {
    margin-top: 10%;
    margin-bottom: 5%;
    width: 220px;
    height: auto;
}
.lead {
    color: #777;
    font-size: 1.3em;
    margin-top: 10%;
}
#disc {
    width: 75%;
}
</style>
<center>
    <img id='logo' src="static/img/title.png">
</center>

<center>
    <p id= 'disc' class='lead'>SnowFlake is a web app that gives you a unique link for a collection of links that you provide. While Instagram only grants you one URL, Snowflake provide a way to share all your links.</p>
</center>

{% if not current_user.is_authenticated() %}
<center>
    <p>
        <a href="{{ url_for('user.login') }}">Sign In</a>&nbsp;|&nbsp;<a href="{{ url_for('user.register') }}">Register</a> {% else %}

    </p>
</center>
<center>
    <p><a href="{{ url_for('user.logout') }}">Sign Out</a>&nbsp;|&nbsp;<a href="{{ url_for('testPage') }}">Add Link</a>
    </p>
</center>
{% endif %}

<center>
    <p class='lead'> Where all your links live</p>
</center>

{% endblock %}