{% extends "base_templates/login_base.html" %} {# base_templates extends base_templates/login_base.html #} {% block main %}
<style type="text/css">
html,
body {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

.navbar {
    background-color: white;
    border-color: #eee;
}

.navbar-default .navbar-brand {
    color: #BC5798;
}

@font-face {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: 2em;
}

#fav {
    margin-right: 6px;
}

#description {
    color: #777;
    width: 60%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

#link {
    color: #BC5798;
}

.left {
    float: left;
    width: 50%;
    clear: left;
}

.right {
    display: inline;
    color: #777;
    float: right;
    width: 50%;
    text-overflow: ellipsis;
    /* Required for text-overflow to do anything */
    white-space: nowrap;
    overflow: hidden;
}

#info {
    margin-top: 0%;
    width: auto;
    height: 100px;
    border-top: solid;
    border-bottom: solid;
    border-top-color: #E8E8E8;
    border-bottom-color: #E8E8E8;
    border-top-width: 1px;
    border-bottom-width: 1px;
}

.thumbnail {
    width: 90px;
    height: auto;
    border: 0px;
}

#list {
    overflow: scroll;
    height: 100%;
    position: relative;
    bottom: 0px;
    width: 100%;
    clear: both;
}

.media-object {
    width: 100px;
    height: auto;
}

.media {
    margin-left: 4px;
}

#join {
    margin-bottom: 7%;
}
</style>
<nav class="navbar navbar-default">
    <div class="navbar-header">
        <a class="navbar-brand" style='font-family: HelveticaNeue-Light;' href="#">SnowFlake</a>
        <a class="navbar-brand pull-right" href="#menu">
            <span style="color: #BC5798" class="glyphicon glyphicon-cog"></span>
        </a>
    </div>
</nav>
{% if user %}
<div class="media">
    <div class="media-middle">
        <a href="#">
            <img class="media-object" src="static/img/grey_icon.png" alt="...">
        </a>
    </div>
    <div class="media-body ">
        <h4 class="media-heading">{{ user }}</h4>
        <center>
            <a id='join' href="{{ url_for('user.register') }}" style="margin-top:20px; color: #fff; background-color: #BC5798; border-color: #BC5798;" class="btn btn-info ">Join SnowFlake
        </a></center>
    </div>
</div>
{% endif %}
<!--//
<center>
    <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="link"></div>
    <br></br>
</center>
-->
<div id='list'>
    <ul class="list-group">
        {% for link in links %}
        <li style="cursor: pointer;" class="list-group-item">
            <span id="fav" class='pull-left'><img src="http://www.google.com/s2/favicons?domain={{ link.url }}"></span>
            <a id='link' class='' href="{{ link.url }}">{{ link.title }}</a>
            <p class='right' id='description'>{{ link.description }}</p>
        </li>
        <div class='clearfix'></div>
        {% endfor %}
    </ul>
</div>
<!--//
<div id="fb-root"></div>


<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId=353058034890090";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
-->
{% endblock %}