{% extends "base_templates/login_base-show.html" %} {# base_templates extends base_templates/login_base-show.html #} {% block main %}
<style type="text/css">
html,
body {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

.navbar {
    background-color: white;
    border-color: #eee;
    margin-bottom: 0;
}

.list-group-item {
    height: 52px;
}

.list-group {
    max-height: 35%;
    overflow-y: scroll;
    bottom: 0;
    margin-bottom: 0;
    width: 100%;
    position: fixed;
}

.navbar-default .navbar-brand {
    color: #BC5798;
}

@font-face {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: 2em;
}

#fav {
    margin-right: 6px;
}

#description {
    color: #777;
    width: 60%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 45%;
}

#link {
    color: #BC5798;
}

.left {
    float: left;
    width: 50%;
    clear: left;
}

#info {
    margin-top: 0%;
    width: auto;
    height: 100px;
    border-top: solid;
    border-bottom: solid;
    border-top-color: #E8E8E8;
    border-bottom-color: #E8E8E8;
    border-top-width: 1px;
    border-bottom-width: 1px;
}

.thumbnail {
    width: 90px;
    height: auto;
    border: 0px;
}


.media-object {
    width: 100px;
    height: auto;
}

.media {
    margin-left: 4px;
}

#join {
    margin-bottom: 7%;
}

#banner {
    background-color: #F5F5F5;
    width: 100%;
    height: 50px;
    text-align: center;
}

#userPhoto {
    margin-top: 40px;
}

#sharebtn {
    margin-right: 20px;
    vertical-align: middle;
    display: inline;
}

.lead {
    line-height: 3em;
}

h3 {
    padding-top: 40px;
    padding-left: 0;
}

#nameuser {
    font-family: HelveticaNeue-Light;
}

#wrap {
    max-width: 40%;
    height: 100%;
    background-color: #fff;
    padding: 0%;
}

@media only screen and (max-width: 600px) {
    #wrap {
        max-width: 100%;
        height: 100%;
    }
    body {
        background-color: #fff;
    }
}
</style>
<div id="fb-root"></div>
<script>
(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId=841922889193393";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
<nav class="navbar navbar-default">
    <div class="navbar-header">
        <a class="navbar-brand" style='font-family: HelveticaNeue-Light;' href="#">SnowFlake</a> {% if current_user.is_authenticated() %}
        <a href="{{ url_for('user.logout') }}" class="navbar-brand pull-right">
            <span style="color: #d9534f" class="glyphicon glyphicon-off"></span>
        </a>
        {% else %}
        <a href="{{ url_for('user.login') }}" class="navbar-brand pull-right">
            <span style="color: #5cb85c" class="glyphicon glyphicon-off"></span>
        </a>
        {% endif %}
    </div>
</nav>
<div id="wrap" class="container">
    {% if user %}
    <center>
        <img id="userPhoto" class="img-circle" src="https://sigil.cupcake.io/{{ user }}?w=96" alt="...">
        <h4 id="nameuser">{{ user }}</h4>
        <a class="btn btn-default" id='join' href="{{ url_for('user.register') }}" style="margin-top:20px; border-color: #BC5798;">Join SnowFlake
        </a>
    </center>
    {% endif %}
    <div id="banner" class="container">
        <span><p id="sharebtn" class="lead"><a style="color: #4B67A1; text-decoration: none !important;" href="#">Facebook</a></p></span>
        <span><p id="sharebtn" class="lead"><a style=" color: #5EA9DD; text-decoration: none !important;" href="#">Twitter</a></p></span>
        <span><p id="sharebtn" class="lead"><a style="color: #DF4B38; margin-right: 0; text-decoration: none !important;" href="#">Google+</a></p></span>
    </div>
    <div id='list'>
        <ul class="list-group clearfix">
            {% for link in links %}
            <li style="cursor: pointer;" class="list-group-item">
                <span id="fav" class='pull-left'><img src="http://www.google.com/s2/favicons?domain={{ link.url }}"></span>
                <a id='link' class='pull-left' style="white-space: nowrap; max-width: 32%; overflow: hidden; text-overflow: ellipsis; height: 20px;" href="{{ link.url }}">{{ link.title }}</a>
                <span><p class='right' id='description'>{{ link.description }}</p></span>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
<script>
! function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0],
        p = /^http:/.test(d.location) ? 'http' : 'https';
    if (!d.getElementById(id)) {
        js = d.createElement(s);
        js.id = id;
        js.src = p + '://platform.twitter.com/widgets.js';
        fjs.parentNode.insertBefore(js, fjs);
    }
}(document, 'script', 'twitter-wjs');
</script>
<script type="text/javascript">
$('.list-group-item').delegate('a', 'click', function(event) {
    var url = this.href;

    //Code to log some data...

    setTimeout(function() {
        window.location = url;
    }, 100);

    event.preventDefault();
});
</script>
<!--//
<div id="fb-root"></div>


<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId=353058034890090";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
-->
{% endblock %}