{% extends "base_templates/login_base.html" %} {# base_templates extends base_templates/login_base.html #} {% block main %}
<style type="text/css">
form {
    width: 80%;
    margin-bottom: 5px;
}

#list {
    height: 200px;
    width: auto;
    position: relative;
    bottom: 0;
    width: 100%;
}

.navbar {
    background-color: white;
    border-color: #eee;
}

.navbar-default .navbar-brand {
    color: #BC5798;
}

@font-face {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: 2em;
}

#description {
    color: #777;
    width: 60%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 38%;

}

#link {
    color: #BC5798;
}

.clist-group-item {
    margin-bottom: 2px;
}

#link2 {
    color: red;
}

#app {
    position: absolute;
    right: 0;
    top: 0;
    margin-bottom: 2%;
    margin-top: 2%;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.42;
    border-radius: 15px;
}

.dropdown-menu {
    text-align: left;
}

#soc {
    margin-left: 25px;
}

#favimg {
    height: 16px;
    width: 16px;
}

#fav {
    margin-right: 6px;
}

.input-group {
    margin-bottom: 15px;
}
</style>
<nav class="navbar navbar-default">
    <div class="navbar-header">
        <a class="navbar-brand" style='font-family: HelveticaNeue-Light;' href="#">SnowFlake</a>
        <a class="navbar-brand pull-right" href="#menu">
            <span style="color: #BC5798" class="glyphicon glyphicon-cog"></span>
        </a>
    </div>
</nav>
<center>
    <h3>
        Add Link
    </h3>
    <p>Your unique link</p>
    {% if user%}
    <h5 id='link2' class='lead'><a href="http://snowflakeapp.herokuapp.com/{{ user.username }}">snowflakeapp.herokuapp.com/{{ user.username }}</a></h5> {% endif %}
    <br>
    <form id='form' action='/test' method="POST">
        <div class="form-group">
            <input type="text" class="form-control" name="title" placeholder="Title...">
        </div>
        <div class="input-group">
            <div class="input-group-btn">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Social<span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li class="dropdown-header">Choose one and input username</li>
                    <li role="separator" class="divider"></li>
                    <li id="soc"><img src="http://www.google.com/s2/favicons?domain=www.snowflakeapp.herokuapp.com"><span>Url</span></li>
                    <li id="soc"><img src="http://www.google.com/s2/favicons?domain=www.facebook.com"><span>Facebook</span></li>
                    <li id="soc"><img src="http://www.google.com/s2/favicons?domain=www.twitter.com"><span>Twitter</span></li>
                    <li id="soc"><img src="http://www.google.com/s2/favicons?domain=www.instagram.com"><span>Instagram</span></li>
                    <li id="soc"><img id="favimg" src="https://www.tumblr.com/favicon.ico"><span>Tumblr</span></li>
                    <li id="soc"><img src="http://www.google.com/s2/favicons?domain=www.vine.co"><span>Vine</span></li>
                    <li id="soc"><img src="http://www.google.com/s2/favicons?domain=www.linkedin.com"><span>LinkedIn</span></li>
                    <li id="soc"><img src="http://www.google.com/s2/favicons?domain=www.pinterest.com"><span>Pinterest</span></li>
                </ul>
            </div>
            <!-- /btn-group -->
            <input id="url" type="text" class="form-control" name="url" placeholder="Url...">
        </div>
        <textarea class="form-control" name='description' placeholder="Description" rows="2"></textarea>
        <br>
        <button type="submit" id='submit' class="btn btn-success">
            Add Link
        </button>
        <br><br>
    </form>
    <div id='list'>
        <ul class="list-group clearfix">
            {% for link in links %}
            <li class="list-group-item" style="text-align: left; ">
                <span id="fav" class='pull-left'><img src="http://www.google.com/s2/favicons?domain={{ link.url }}"></span>
                <a id={{link.id}} class='pull-left' href="{{ link.url }}">{{ link.title }}</a>
                <span class="text-danger"><p id='description'>{{ link.description }}</p></span>
                <form action="/delete" id='id' method="POST">
                    <span>
                        <button type="submit" id = 'app' name='delete' value = "{{link.id}}" class="btn btn-danger btn-circle ">
                            <strong><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></strong>
                    </button>
                    </span>
                </form>
            </li>
            {% endfor %}
        </ul>
    </div>
</center>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript">
$(window).resize(function(e) {

});
</script>
<script type="text/javascript">
var placeholder = "Url";
var val = ""
var smallplaceholder = ""
$(".dropdown-menu li span").click(function() {
    placeholder = $(this).text();
    smallplaceholder = placeholder.toLowerCase();
    if (placeholder != "Url") {
        $('input[name=url]').attr('placeholder', 'Input your ' + placeholder + ' username...');
    } else {
        $('input[name=url]').attr('placeholder', "Url...");
    }
});


$("form[id='form']").submit(function() {
    // Let's find the input to check
    var input = $("#url").val();
    if (placeholder != "Url") {
        if (placeholder == "Vine") {
            val = "www." + smallplaceholder + ".co/" + input;
        } 
        else if (placeholder == "Tumblr") {
            val = "www." + smallplaceholder + ".com/blog/" + input;
        } else {
            val = "www." + smallplaceholder + ".com/" + input;
        }
        $("#url").val(val);
    }
    else{
        $("#url").val(input);
    }
});
</script>
{% endblock %}